.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10vh 2vh;

}

.btn {
    margin-bottom: 1vh;
    font-size: 2vh;
    margin-right: 1vh;
}

.row .btnContainer {
    display: flex;
    justify-content: left;
    align-content: center;
}



@media (max-width: 767px) {
    .col-4 {
        width: 100%;
        margin: 1vh 0vh;
    }
}

/* Skibidi papu estuvo aqui */