<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Stock</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>

<body>
    <div class="container">
        <div class="row">
            {% include 'navegador.html' %}

            <div class="col-12">
                <hr>
                <form class="row g-3">
                    <div class="col-3">
                        <label for="staticEmail2" class="visually-hidden">Email</label>
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                            value="Buscar Producto por ID o nombre">
                    </div>
                    <div class="col-auto">
                        <label for="id" class="visually-hidden">ID</label>
                        <input type="number" class="form-control" id="id" name="id" placeholder="ID">
                    </div>
                    <div class="col-auto">
                        <label for="id" class="visually-hidden">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="name" placeholder="Nombre">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">Buscar</button>
                    </div>
                </form>
            </div>

            <div class="col-12">
                <hr>
                <h2>Crear Producto</h2>
                <form action="" method="post">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label">Nombre</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="inputPassword6" class="form-control"
                                aria-describedby="passwordHelpInline" name="nombre">
                        </div>
                        <div class="col-auto">
                            <span id="passwordHelpInline" class="form-text">
                                Escribe el nombre más adecuado para tu producto.
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label">Descripción</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="inputPassword6" name="desc" class="form-control"
                                aria-describedby="passwordHelpInline">
                        </div>
                        <div class="col-auto">
                            <span id="passwordHelpInline" class="form-text">
                                Describe tu producto
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label">Precio</label>
                        </div>
                        <div class="col-auto">
                            <input type="number" id="inputPassword6" name="price" class="form-control"
                                aria-describedby="passwordHelpInline">
                        </div>
                        <div class="col-auto">
                            <span id="passwordHelpInline" class="form-text">
                                Establece el mejor precio para tu producto.
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label">Costo</label>
                        </div>
                        <div class="col-auto">
                            <input type="number" id="inputPassword6" name="costo" class="form-control"
                                aria-describedby="passwordHelpInline">
                        </div>
                        <div class="col-auto">
                            <span id="passwordHelpInline" class="form-text">
                                Establece el costo para tu producto.
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label">Descuento</label>
                        </div>
                        <div class="col-auto">
                            <input type="number" id="inputPassword6" name="descuento" class="form-control"
                                aria-describedby="passwordHelpInline" max="100" min="0">
                        </div>
                        <div class="col-auto">
                            <span id="passwordHelpInline" class="form-text">
                                Establece un descuento en porcentaje.
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label">Categoría</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="inputPassword6" class="form-control"
                                aria-describedby="passwordHelpInline" name="categoria">
                        </div>
                        <div class="col-auto">
                            <span id="passwordHelpInline" class="form-text">
                                Escribe la categoría más adecuada para tu producto.
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label">Stock</label>
                        </div>
                        <div class="col-auto">
                            <input type="number" id="inputPassword6" class="form-control"
                                aria-describedby="passwordHelpInline" name="stock" min="0">
                        </div>
                        <div class="col-auto">
                            <span id="passwordHelpInline" class="form-text">
                                Stock del producto
                            </span>
                        </div>
                    </div>
                    <br>
                    <input type="submit" value="Crear" class="btn btn-primary">
                </form>

            </div>

            <div class="col-12">
                <hr>
                <h2>Tabla de Productos</h2>
                <br>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Stock</th>
                            <th>Categoría</th>
                            <th>Administrar</th>

                        </tr>
                    </thead>
                    <tbody>
                        <!-- Producto 1 -->
                        <tr>
                            <td>1</td>
                            <td>Camiseta</td>
                            <td>Camiseta de algodón de manga corta</td>
                            <td>$20.99</td>
                            <td>100</td>
                            <td>Ropa</td>
                            <td><a href="/product/a" class="btn btn-primary">Editar</a></td>

                        </tr>

                        <!-- Producto 2 -->
                        <tr>
                            <td>2</td>
                            <td>Zapatos Deportivos</td>
                            <td>Zapatos deportivos para correr</td>
                            <td>$49.99</td>
                            <td>50</td>
                            <td>Calzado</td>
                            <td><a href="/product/a" class="btn btn-primary">Editar</a></td>

                        </tr>

                        <!-- Producto 3 -->
                        <tr>
                            <td>3</td>
                            <td>Mochila</td>
                            <td>Mochila resistente al agua con múltiples compartimentos</td>
                            <td>$35.50</td>
                            <td>30</td>
                            <td>Accesorios</td>
                            <td><a href="/product/a" class="btn btn-primary">Editar</a></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>


<!-- Skibidi papu estuvo aqui  -->